<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{page.title}}</title>

    <!-- GitHub style code highlighter -->
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <!-- My styles -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49247455-6', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>

    <div class="container">
      <div class="blog-header">
      <h1 class="blog-title">Введение в Scala.</h1>
      <p class="lead blog-description">С нуля до распределенных приложений.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{page.title}}</h2>
            <p class="blog-post-meta">{{page.date | date: "%-d %B %Y"}} от 
              <a href="http://stackoverflow.com/users/283975/grozz">Tagir</a></p>
            <div>
              {{content}}
            </div>
            <nav>
              <ul class="pager">
                {% if page.previous %}
                <li><a href="{{page.previous.url}}">Назад</a></li>
                {% endif %}
                {% if page.next %}
                <li><a href="{{page.next.url}}">Далее</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Записи</h4>
            <ol class="list-unstyled">
              {% for post in site.posts reversed %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div> <!-- /row -->
    </div> <!-- container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
